.DS_Store
icon.icns
icon.png
MergePDF.spec
build/MergePDF/Analysis-00.toc
build/MergePDF/base_library.zip
build/MergePDF/BUNDLE-00.toc
build/MergePDF/EXE-00.toc
build/MergePDF/MergePDF.pkg
build/MergePDF/PKG-00.toc
build/MergePDF/PYZ-00.pyz
build/MergePDF/PYZ-00.toc
build/MergePDF/warn-MergePDF.txt
build/MergePDF/xref-MergePDF.html
build/MergePDF/localpycs/pyimod01_archive.pyc
build/MergePDF/localpycs/pyimod02_importers.pyc
build/MergePDF/localpycs/pyimod03_ctypes.pyc
build/MergePDF/localpycs/struct.pyc
dist/MergePDF
dist/MergePDF.app/Contents/Info.plist
dist/MergePDF.app/Contents/MacOS/MergePDF
dist/MergePDF.app/Contents/_CodeSignature/CodeResources
src/__pycache__/__init__.cpython-313.pyc
src/__pycache__/main.cpython-313.pyc
src/frames/__pycache__/__init__.cpython-313.pyc
src/frames/__pycache__/edit_frame.cpython-313.pyc
src/frames/__pycache__/menu_frame.cpython-313.pyc
src/frames/__pycache__/merge_frame.cpython-313.pyc
src/frames/__pycache__/option_frame.cpython-313.pyc
src/helpers/__pycache__/helper_functions.cpython-313.pyc
src/helpers/__pycache__/page_selection_functions.cpython-313.pyc
src/helpers/__pycache__/pdf_functions.cpython-313.pyc
src/helpers/__pycache__/resource.cpython-313.pyc
src/menu/__pycache__/__init__.cpython-313.pyc
src/menu/__pycache__/menu_bar.cpython-313.pyc
Tasks/Features.txt
metadata.yml
version.txt
